<a href="https://colab.research.google.com/github/DanielKorenDataScience/ClassificationProject/blob/main/Classification_Project_Shufersal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Classification Project

for Shufersal on-line orders, for replacing of missing products, will predict the replacement success!

In [78]:
import requests
import pandas as pd

from IPython.display import display
p = print
d = display

# Get Data

In [110]:
data_url = 'https://github.com/DanielKorenDataScience/ClassificationProject/blob/main/shufersal_mod.csv?raw=true'
resp = requests.get(data_url)
text = resp.text
p(text[:1000])

with open('Shufersal.csv', 'w') as fh:
    fh.write(text)

,OrderNumbert,HouseHoldID,TransactionDate,DepartmentCode,CategoryCode,GroupCode,SubGroupCode,CompoundID,ParentProductNumber,BrandIndDesc,UnitOfMeasure,ItemsPerPackageWH,DescriptionTavit,Price,Energy,Pachmema,Natran,Helbon,Shuman,ShumanRavuy,ShumanTrans,Colastrol,SivimTzunatim,CafiotSucar,DepartmentCodeSubs,CategoryCodeSubs,GroupCodeSubs,SubGroupCodeSubs,CompoundIDSubs,ProductNumberSubs,BrandIndDesc.1,UnitOfMeasureSubs,ItemsPerPackageWHSubs,DescriptionTavit.1,PriceSubs,EnergySubs,PachmemaSubs,NatranSubs,HelbonSubs,ShumanSubs,ShumanRavuySubs,ShumanTransSubs,ColastrolSubs,SivimTzunatimSubs,CafiotSucarSusb,CorrelateItemStatusCode
0,40063,1,2021-02-21,10,6,700,3,-8000500249352,8000500249352,קינדר,0.205,15,205 גרם,18.9,568.0,49.5,107.0,8.6,37.8,17.3,0.5,15.0,,,10,6,700,6,-8000500217740,8000500217740,קינדר,0.086,12,86 גרם,9.9,,,,,,,,,,,1
1,15636,2,2021-03-21,10,6,699,4,2900,178134,פרה,0.4,6,4 * 100 גרם,19.6,514.0,51.0,,5.3,31.0,19.2,0.5,,,12.25,10,6,699,4,23107,7290100852576,פרה,0.3,8,3 * 1

In [112]:
df = pd.read_csv('Shufersal.csv', usecols=range(1,47))  # skip the 0 index col
p(df.shape)
df.columns

(54484, 46)

Index(['OrderNumbert', 'HouseHoldID', 'TransactionDate', 'DepartmentCode',
       'CategoryCode', 'GroupCode', 'SubGroupCode', 'CompoundID',
       'ParentProductNumber', 'BrandIndDesc', 'UnitOfMeasure',
       'ItemsPerPackageWH', 'DescriptionTavit', 'Price', 'Energy', 'Pachmema',
       'Natran', 'Helbon', 'Shuman', 'ShumanRavuy', 'ShumanTrans', 'Colastrol',
       'SivimTzunatim', 'CafiotSucar', 'DepartmentCodeSubs',
       'CategoryCodeSubs', 'GroupCodeSubs', 'SubGroupCodeSubs',
       'CompoundIDSubs', 'ProductNumberSubs', 'BrandIndDesc.1',
       'UnitOfMeasureSubs', 'ItemsPerPackageWHSubs', 'DescriptionTavit.1',
       'PriceSubs', 'EnergySubs', 'PachmemaSubs', 'NatranSubs', 'HelbonSubs',
       'ShumanSubs', 'ShumanRavuySubs', 'ShumanTransSubs', 'ColastrolSubs',
       'SivimTzunatimSubs', 'CafiotSucarSusb', 'CorrelateItemStatusCode'],
      dtype='object')

In [113]:
df.head()

   OrderNumbert  HouseHoldID  ... CafiotSucarSusb  CorrelateItemStatusCode
0         40063            1  ...             NaN                        1
1         15636            2  ...           12.25                        1
2         40686            3  ...           12.00                        0
3         29327            4  ...           12.50                        1
4         32055            5  ...            4.50                        1

[5 rows x 46 columns]

In [114]:
df.head().T

                                      0  ...              4
OrderNumbert                      40063  ...          32055
HouseHoldID                           1  ...              5
TransactionDate              2021-02-21  ...     2021-02-04
DepartmentCode                       10  ...             10
CategoryCode                          6  ...              6
GroupCode                           700  ...            699
SubGroupCode                          3  ...              3
CompoundID               -8000500249352  ...          30727
ParentProductNumber       8000500249352  ...  7296073382416
BrandIndDesc                      קינדר  ...         שופרסל
UnitOfMeasure                     0.205  ...            0.1
ItemsPerPackageWH                    15  ...             20
DescriptionTavit                205 גרם  ...        100 גרם
Price                              18.9  ...              8
Energy                              568  ...            607
Pachmema                           49.5  ...             13
Natran                              107  ...             10
Helbon                              8.6  ...             11
Shuman                             37.8  ...             53
ShumanRavuy                        17.3  ...             32
ShumanTrans                         0.5  ...            0.5
Colastrol                            15  ...            NaN
SivimTzunatim                       NaN  ...             17
CafiotSucar                         NaN  ...              2
DepartmentCodeSubs                   10  ...             10
CategoryCodeSubs                      6  ...              6
GroupCodeSubs                       700  ...            699
SubGroupCodeSubs                      6  ...              3
CompoundIDSubs           -8000500217740  ...          30727
ProductNumberSubs         8000500217740  ...  7296073237631
BrandIndDesc.1                    קינדר  ...         שופרסל
UnitOfMeasureSubs                 0.086  ...            0.1
ItemsPerPackageWHSubs                12  ...             20
DescriptionTavit.1               86 גרם  ...        100 גרם
PriceSubs                           9.9  ...              8
EnergySubs                          NaN  ...            603
PachmemaSubs                        NaN  ...             23
NatranSubs                          NaN  ...             10
HelbonSubs                          NaN  ...            8.7
ShumanSubs                          NaN  ...             50
ShumanRavuySubs                     NaN  ...             30
ShumanTransSubs                     NaN  ...            0.5
ColastrolSubs                       NaN  ...            NaN
SivimTzunatimSubs                   NaN  ...             13
CafiotSucarSusb                     NaN  ...            4.5
CorrelateItemStatusCode               1  ...              1

[46 rows x 5 columns]

In [115]:
df.columns

Index(['OrderNumbert', 'HouseHoldID', 'TransactionDate', 'DepartmentCode',
       'CategoryCode', 'GroupCode', 'SubGroupCode', 'CompoundID',
       'ParentProductNumber', 'BrandIndDesc', 'UnitOfMeasure',
       'ItemsPerPackageWH', 'DescriptionTavit', 'Price', 'Energy', 'Pachmema',
       'Natran', 'Helbon', 'Shuman', 'ShumanRavuy', 'ShumanTrans', 'Colastrol',
       'SivimTzunatim', 'CafiotSucar', 'DepartmentCodeSubs',
       'CategoryCodeSubs', 'GroupCodeSubs', 'SubGroupCodeSubs',
       'CompoundIDSubs', 'ProductNumberSubs', 'BrandIndDesc.1',
       'UnitOfMeasureSubs', 'ItemsPerPackageWHSubs', 'DescriptionTavit.1',
       'PriceSubs', 'EnergySubs', 'PachmemaSubs', 'NatranSubs', 'HelbonSubs',
       'ShumanSubs', 'ShumanRavuySubs', 'ShumanTransSubs', 'ColastrolSubs',
       'SivimTzunatimSubs', 'CafiotSucarSusb', 'CorrelateItemStatusCode'],
      dtype='object')

In [116]:
# fix Type mistake
df.rename(columns={'OrderNumbert': 'OrderNumber', 'CafiotSucarSusb': 'CafiotSucarSubs', 'ProductNumberSubs': 'ParentProductNumberSubs',
                   'BrandIndDesc.1': 'BrandIndDescSubs', 'DescriptionTavit.1': 'DescriptionTavitSubs'}, inplace=True)
df.columns

Index(['OrderNumber', 'HouseHoldID', 'TransactionDate', 'DepartmentCode',
       'CategoryCode', 'GroupCode', 'SubGroupCode', 'CompoundID',
       'ParentProductNumber', 'BrandIndDesc', 'UnitOfMeasure',
       'ItemsPerPackageWH', 'DescriptionTavit', 'Price', 'Energy', 'Pachmema',
       'Natran', 'Helbon', 'Shuman', 'ShumanRavuy', 'ShumanTrans', 'Colastrol',
       'SivimTzunatim', 'CafiotSucar', 'DepartmentCodeSubs',
       'CategoryCodeSubs', 'GroupCodeSubs', 'SubGroupCodeSubs',
       'CompoundIDSubs', 'ParentProductNumberSubs', 'BrandIndDescSubs',
       'UnitOfMeasureSubs', 'ItemsPerPackageWHSubs', 'DescriptionTavitSubs',
       'PriceSubs', 'EnergySubs', 'PachmemaSubs', 'NatranSubs', 'HelbonSubs',
       'ShumanSubs', 'ShumanRavuySubs', 'ShumanTransSubs', 'ColastrolSubs',
       'SivimTzunatimSubs', 'CafiotSucarSubs', 'CorrelateItemStatusCode'],
      dtype='object')

In [117]:
df.fillna(0, inplace=True)

## Calc diff vector

In [118]:
for col in ['DepartmentCode', 'CategoryCode', 'GroupCode', 'SubGroupCode',
       'CompoundID', 'ParentProductNumber', 'UnitOfMeasure',
       'ItemsPerPackageWH', 'Price', 'Energy', 'Pachmema',
       'Natran', 'Helbon', 'Shuman', 'ShumanRavuy', 'ShumanTrans', 'Colastrol',
       'SivimTzunatim', 'CafiotSucar']:
  df[col + 'Diff'] = df[col] - df[col + 'Subs']

df.head().T

                            0           1           2           3           4
OrderNumber             40063       15636       40686       29327       32055
HouseHoldID                 1           2           3           4           5
TransactionDate    2021-02-21  2021-03-21  2021-01-07  2021-01-28  2021-02-04
DepartmentCode             10          10          10          10          10
CategoryCode                6           6           6           6           6
...                       ...         ...         ...         ...         ...
ShumanRavuyDiff          17.3           0          -1         1.4           2
ShumanTransDiff           0.5           0           0           0           0
ColastrolDiff              15           0         2.5           3           0
SivimTzunatimDiff           0           0        -7.8           0           4
CafiotSucarDiff             0           0        -0.5        0.25        -2.5

[65 rows x 5 columns]

In [119]:
df.to_csv("Shufersal_with_diff.csv", index = False)

In [120]:
df.shape

(54484, 65)

In [121]:
df = pd.read_csv('Shufersal_with_diff.csv', index_col=False)
df.shape

(54484, 65)

In [122]:
df.head()

   OrderNumber  HouseHoldID  ... SivimTzunatimDiff  CafiotSucarDiff
0        40063            1  ...               0.0             0.00
1        15636            2  ...               0.0             0.00
2        40686            3  ...              -7.8            -0.50
3        29327            4  ...               0.0             0.25
4        32055            5  ...               4.0            -2.50

[5 rows x 65 columns]

## Remove columns that are not numeric - just as a start so can run models

In [127]:
df.drop(['TransactionDate', 'BrandIndDesc', 'DescriptionTavit', 'BrandIndDescSubs', 'DescriptionTavitSubs'], axis=1, inplace=True)

# Models

In [137]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

def report(clf, X, y):
  p()
  p(type(clf).__name__)
  p('_____________________________________________________')
  acc = accuracy_score(y_true=y, y_pred=clf.predict(X))
  p('accuracy: {:.3f}\n'.format(acc))
  cm = pd.DataFrame(confusion_matrix(y_true=y, y_pred=clf.predict(X)),
                    index=clf.classes_,
                    columns=clf.classes_)
  d(cm)
  rep = classification_report(y_true=y, y_pred=clf.predict(X), zero_division=1)
  p('\n{}'.format(rep))
  return

In [128]:
from sklearn.model_selection import train_test_split

X = df.drop('CorrelateItemStatusCode', axis=1)
y = df.CorrelateItemStatusCode.astype(int)

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=0)

In [124]:
def process_model(model):
  model.fit(X_train, y_train)
  report(model, X_train, y_train)
  report(model, X_test, y_test)

In [136]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier

process_model(LogisticRegression())
process_model(GradientBoostingClassifier(n_estimators=100))

LogisticRegression
_____________________________________________________
accuracy: 0.669

   0      1
0  0  12632
1  0  25506

              precision    recall  f1-score   support

           0       1.00      0.00      0.00     12632
           1       0.67      1.00      0.80     25506

    accuracy                           0.67     38138
   macro avg       0.83      0.50      0.40     38138
weighted avg       0.78      0.67      0.54     38138

LogisticRegression
_____________________________________________________
accuracy: 0.667

   0      1
0  0   5442
1  0  10904

              precision    recall  f1-score   support

           0       1.00      0.00      0.00      5442
           1       0.67      1.00      0.80     10904

    accuracy                           0.67     16346
   macro avg       0.83      0.50      0.40     16346
weighted avg       0.78      0.67      0.53     16346

GradientBoostingClassifier
_____________________________________________________
accuracy: 0.821

      0      1
0  8121   4511
1  2304  23202

              precision    recall  f1-score   support

           0       0.78      0.64      0.70     12632
           1       0.84      0.91      0.87     25506

    accuracy                           0.82     38138
   macro avg       0.81      0.78      0.79     38138
weighted avg       0.82      0.82      0.82     38138

GradientBoostingClassifier
_____________________________________________________
accuracy: 0.815

      0     1
0  3467  1975
1  1055  9849

              precision    recall  f1-score   support

           0       0.77      0.64      0.70      5442
           1       0.83      0.90      0.87     10904

    accuracy                           0.81     16346
   macro avg       0.80      0.77      0.78     16346
weighted avg       0.81      0.81      0.81     16346