<a href="https://colab.research.google.com/github/DanielKorenDataScience/ClassificationProject/blob/main/Classification_Project_Shufersal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Classification Project

for Shufersal on-line orders, for replacing of missing products, will predict the replacement success!

In [ ]:
import requests
import pandas as pd

In [ ]:
data_url = 'https://raw.githubusercontent.com/DanielKorenDataScience/ClassificationProject/master/Shufersal_Chocolate.csv'
resp = requests.get(data_url)
text = resp.text

with open('Shufersal.csv', 'w') as fh:
    fh.write(text)
  
df = pd.read_csv('Shufersal.csv')

In [ ]:
df = pd.read_csv('Shufersal.csv') #, encoding='ISO-8859–1')

In [ ]:
df.head()

  ����� ������  ... ��� ���� ����(1 ���� 0 �� ����) �Y
0  OrderNumber  ...            CorrelateItemStatusCode
1            1  ...                                  0
2            2  ...                                  0
3            3  ...                                  1
4            4  ...                                  0

[5 rows x 59 columns]